.switch-container {
  display: flex;
  gap: 10px;
  margin: 20px;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-buttons {
    display: flex;
    gap: 10px;
  }

  .button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #d0d0d0;
    }

    &.active {
      background-color: $hover-color;
      color: $white-color;
    }
  }

  .input {
    padding: 5px 10px;
    border-radius: 4px;
  }
}
