@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin pc() {
	@media (max-width: $pc) {
		@content;
	}
}

@mixin tablet() {
	@media (max-width: $tablet) {
		@content;
	}
}

@mixin mobile() {
	@media (max-width: $mobile) and (min-width: $min-break-point) {
		@content;
	}
}


@mixin transition($transition-val) {
	transition: $transition-val 0.3s;
}