.input {
  width: 60px;
  padding: 5px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: start;
}

.button {
  background-color: rgb(218, 215, 215);
  color: gray;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: $error-color;
}
