.footer {
  background-color: $main-color;
  font-size: 1.125rem;
  width: 100%;

  .links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

    li {

      a {
        color: $white-color;
        text-decoration: none;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }

        .icon {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .bottom {
    background-color: $hover-color;
    font-size: 12px;
    padding: 0.25rem;
    text-align: center;

    p {
      margin: 0;
      color: $white-color;
    }
  }
}
